@CHARSET "UTF-8";

.head{
	width:100%;
	height:70px;
	margin-top:0;
}

#head_nav{
	height:70px;
	border:0;
	overflow:hidden;
}

.head_img{
	width:70px;
	height:70px;
	margin-left:50px;
	float:left;
}

#head_nav_tabs{
	height:52px;
	margin-top:20px;
	margin-left:150px;
}

#ul_head_nav_tabs{
	height:52px;
}

#ul_head_nav_tabs li{
	font-size:20px;
	color:#000;
}

.body_main{
	width:100%;
	overflow:auto;
}

.body_ex1{
	width:100%;
	overflow:auto;
}

.body_ex2{
	width:100%;
	overflow:auto;
}

.body_ex3{
	width:100%;
	overflow:auto;
}